<ion-app>
  <ion-content padding class="background">
    <ion-toolbar>
      <img src="assets/givegoods.png" width="140px">
      <ion-buttons slot="end">
        <ion-button color="warning" fill="outline" shape="round" href="home">
          <ion-icon name="home-outline"></ion-icon>
           Home
        </ion-button>

        <ion-button color="warning" fill="outline" shape="round" href="donate">
          <ion-icon name="gift-outline"></ion-icon>
          Donate
        </ion-button>

        <ion-button color="warning" fill="outline" shape="round" href="aboutus">
          <ion-icon name="heart-circle-outline"></ion-icon>
          About Us
        </ion-button>

        <ion-button color="warning" fill="outline" shape="round" href="contactus">
          <ion-icon name="call-outline"></ion-icon>
          Contact Us
        </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <br>

  <ion-title><b>Contact Us</b></ion-title>
  <p>Have any questions? We'd love to hear from you.</p>
      
      <ion-grid>
        <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
                <img src="assets/gmail.png">
                <ion-card-title>Email Us</ion-card-title>
                <ion-card-subtitle>givegoods2022@gmail.com</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-header>
                <img src="assets/call.png">
                <ion-card-title>Call Us</ion-card-title>
                <ion-card-subtitle>09123456789</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
        </ion-row>
      </ion-grid>

      <p>Visit out social media accounts. </p>

      <ion-grid>
        <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
                <img src="assets/fb.png">
                <ion-card-title>Facebook</ion-card-title>
                <ion-card-subtitle>GiveGoods2022</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-header>
                <img src="assets/ig.png">
                <ion-card-title>Instagram</ion-card-title>
                <ion-card-subtitle>GiveGoods2022</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-header>
                <img src="assets/twitter.png">
                <ion-card-title>Twitter</ion-card-title>
                <ion-card-subtitle>@GiveGoods2022</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
        </ion-row>
      </ion-grid>
      <br>

      <div class="do">"Do not neglect to do good and to share what you have, for such sacrifices are pleasing to God."<b><br>  -Hebrews 13:16</b></div>

    <ion-item lines="full">
      <ion-label></ion-label>
    </ion-item>

    <ion-footer class="ion-no-border" >
      <ion-toolbar>
        <div class="bottom">
        <ion-grid fixed="true">
        <ion-row>
          <ion-col class="ion-align-self-start"><br>
            <b><ion-text>GiveGoods</ion-text></b><br>
            2022 © GiveGoods<br>
            All rights reserved.
          </ion-col>
          <ion-col class="ion-align-self-center">
            <ion-button class="bottom" color="dark" fill="clear"  href="home">
              Home
            </ion-button><br>
            <ion-button class="bottom" color="dark" fill="clear"  href="donate">
              Donate
           </ion-button><br>
           <ion-button class="bottom" color="dark" fill="clear"  href="aboutus">
              About Us
          </ion-button><br>
          <ion-button class="bottom" color="dark" fill="clear"  href="contactus">
              Contact Us
          </ion-button>
          </ion-col>
          <ion-col class="ion-align-self-end">
            <ion-button class="bottom" color="dark" fill="clear"  href="https://www.facebook.com/">
              Facebook
            </ion-button><br>
            <ion-button class="bottom" color="dark" fill="clear"  href="https://www.instagram.com/">
              Instagram
           </ion-button><br>
           <ion-button class="bottom" color="dark" fill="clear"  href="https://www.twitter.com/">
              Twitter
          </ion-button><br>
          <ion-button class="bottom" color="dark" fill="clear"  href="https://www.gmail.com/">
              Gmail
          </ion-button>
          </ion-col>
        </ion-row>
        </ion-grid>
      </div>
    </ion-toolbar>
  </ion-footer>

  

  </ion-content>
</ion-app>