<ion-app>
  <ion-content padding class="background">
    <ion-toolbar>
      <img src="assets/givegoods.png" width="140px">
    <ion-buttons slot="end">
        <ion-button color="warning" fill="outline" shape="round" href="home">
          <ion-icon name="home-outline"></ion-icon>
           Home
        </ion-button>

        <ion-button color="warning" fill="outline" shape="round" href="donate">
          <ion-icon name="gift-outline"></ion-icon>
          Donate
        </ion-button>

        <ion-button color="warning" fill="outline" shape="round" href="aboutus">
          <ion-icon name="heart-circle-outline"></ion-icon>
          About Us
        </ion-button>

        <ion-button color="warning" fill="outline" shape="round" href="contactus">
          <ion-icon name="call-outline"></ion-icon>
          Contact Us
        </ion-button>
    </ion-buttons>
  </ion-toolbar>


  <br>
    <img src="assets/about.png">

      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-content class="we">We at <b>Give Goods</b> think there is always a way to lend a helping hand. Just over a year ago, 
              we were fascinated by the thought of finding a means to enable people to deliver their donations 
              even to remote locations without difficulty or risk to life, particularly during this pandemic. 
              A small act of kindness could give someone else life, happiness, and hope. It may sound ridiculous, 
              but we've always wanted to find something simple that has a significant impact on others, 
              especially on their wellbeing. Giving is not just about make a donation, its about making a difference. 
              Dedicated to provide honest, effective, reliable, and respectful service with integrity and accountability 
              using both proven and innovative methods.</ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <br>
      
    <ion-grid>
      <ion-row>
        
        <ion-col>
          <ion-card>
            <ion-title>
              <b>Our Mission</b>
            </ion-title>
              <ion-card-content>Our mission is to protect and sustain youths.  
              Humans make certain that their voices are heard.  
              We bring people from all over the world together in the battle to end poverty. We engage in the lifestyles 
              of children and youth, establish the better environment they necessitate, and enabling them to impact 
              transformative peace in their very own daily lives by cooperating together.</ion-card-content>
            </ion-card>
        </ion-col>

      
        <ion-col>
          <ion-card>
            <ion-title>
              <b>Our Vision</b>
            </ion-title>
              <ion-card-content>Our vision is that every kid seems to have a peaceful and secure infancy, as well as the necessary 
              foundations to thrive. Everything we do revolves around children. To become a vibrant and compassionate 
              institution which encourages effective action and contributes to the growth of a faithful, respectful, 
              and friendly environment in our society.</ion-card-content>
            </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <br><br>
      <ion-title>
        <b>V A L U E S</b>
      </ion-title>
      <ion-card-content>We are responsible, accountable, respectful, effective, and reliable. <br>
        We promote honesty, integrity and openness in all we do.<br>
        We encourage innovation to meet challenges.<br>
        We foster an environment of collaboration.</ion-card-content>
    <br><br>

    <ion-title>
      <b>Team Members</b>
    </ion-title>

    <ion-grid> 
      <ion-row>

        <ion-col>
          <ion-avatar>
            <img src="assets/Rachel.png">
          </ion-avatar>
          <ion-card-subtitle>
            "Every Good Act counts"<br> <b>-Rachel Amaca</b>
          </ion-card-subtitle>
        </ion-col>

        <ion-col>
          <ion-avatar>
            <img src="assets/Angela.png">
          </ion-avatar>
          <ion-card-subtitle>
            "Help is our Main Goal"<br> <b>-Angela Chezka Magalona</b>
          </ion-card-subtitle>
        </ion-col>

        <ion-col>
          <ion-avatar>
            <img src="assets/Anne.png">
          </ion-avatar>
          <ion-card-subtitle>
            "Your donation makes a difference"<br> <b>-Ruby Ann Mangampo</b>
          </ion-card-subtitle>
        </ion-col>

        <ion-col>
          <ion-avatar>
            <img src="assets/Shaira.png">
          </ion-avatar>
          <ion-card-subtitle>
            "Every act of kindness is a charity"<br> <b>-Shaira Mauhay</b>
          </ion-card-subtitle>
        </ion-col>

      </ion-row>
    </ion-grid>

      <br><br><br>
      <ion-card-title>
        "Whoever is generous to the poor lends to the Lord, and he will repay him for his deed."<br> <b>-Proverbs 19:17</b>
      </ion-card-title>
      <br>



    <ion-item lines="full">
      <ion-label></ion-label>
    </ion-item>

    <ion-footer class="ion-no-border" >
      <ion-toolbar>
        <div class="bottom">
        <ion-grid fixed="true">
        <ion-row>
          <ion-col class="ion-align-self-start"><br>
            <b><ion-text>GiveGoods</ion-text></b><br>
            2022 © GiveGoods<br>
            All rights reserved.
          </ion-col>
          <ion-col class="ion-align-self-center">
            <ion-button class="bottom" color="dark" fill="clear"  href="home">
              Home
            </ion-button><br>
            <ion-button class="bottom" color="dark" fill="clear"  href="donate">
              Donate
           </ion-button><br>
           <ion-button class="bottom" color="dark" fill="clear"  href="aboutus">
              About Us
          </ion-button><br>
          <ion-button class="bottom" color="dark" fill="clear"  href="contactus">
              Contact Us
          </ion-button>
          </ion-col>
          <ion-col class="ion-align-self-end">
            <ion-button class="bottom" color="dark" fill="clear"  href="https://www.facebook.com/">
              Facebook
            </ion-button><br>
            <ion-button class="bottom" color="dark" fill="clear"  href="https://www.instagram.com/">
              Instagram
           </ion-button><br>
           <ion-button class="bottom" color="dark" fill="clear"  href="https://www.twitter.com/">
              Twitter
          </ion-button><br>
          <ion-button class="bottom" color="dark" fill="clear"  href="https://www.gmail.com/">
              Gmail
          </ion-button>
          </ion-col>
        </ion-row>
        </ion-grid>
      </div>
    </ion-toolbar>
  </ion-footer>

  </ion-content>
</ion-app>
