<ion-app>
  <ion-content passing class="background">
    <ion-toolbar>
      <img src="assets/givegoods.png" width="140px">
      <ion-buttons slot="end">
        <ion-button color="warning" fill="outline" shape="round" href="home">
          <ion-icon name="home-outline"></ion-icon>
           Home
        </ion-button>

        <ion-button color="warning" fill="outline" shape="round" href="donate">
          <ion-icon name="gift-outline"></ion-icon>
          Donate
        </ion-button>

        <ion-button color="warning" fill="outline" shape="round" href="aboutus">
          <ion-icon name="heart-circle-outline"></ion-icon>
          About Us
        </ion-button>

        <ion-button color="warning" fill="outline" shape="round" href="contactus">
          <ion-icon name="call-outline"></ion-icon>
          Contact Us
        </ion-button>
      </ion-buttons>
  </ion-toolbar>

  <br>
  <ion-title><b>Donate To Charity</b></ion-title>
  <br>

          <ion-card>
            <img src="assets/csc1.jpg" class="cscc">
            <ion-card-title><b>Children's Shelter of Cebu</b></ion-card-title>
            <ion-card-content>
              The Children's Shelter of Cebu provides food, shelter,
               medical care, education and counseling to orphaned, 
               surrendered and abandoned children in Cebu, Philippines.
            </ion-card-content>

            <div class="know">
            <ion-button class="know" color="dark" href="https://www.facebook.com/cscshelter">
              Know more about CSC
            </ion-button>
            </div>

            <ion-card-content>
              For any concerns and questions contact us: <br>    
              <ion-chip outline color="dark">
                <ion-icon name="call"></ion-icon>
                <ion-label>+1 651-493-1551 </ion-label>
              </ion-chip>
              <ion-chip outline color="dark">
                <ion-icon name="mail"></ion-icon>
                <ion-label>childrensheltercebu@gmail.com</ion-label>
              </ion-chip><br><br>

              Want to Donate? Fill this form.<br>
              <div class="know">
              <ion-button class="know" color="dark" href="https://docs.google.com/forms/d/e/1FAIpQLScyQwndDQ6-u8OM2j9Lb_4XHMh1IuwuBfOh83U6CtYHKdRbsw/viewform?usp=sf_link">
                Donation Form
              </ion-button>
              </div>
            </ion-card-content>
          </ion-card>

          <br><br>

          <ion-card>
            <img src="assets/pfp1.jpg" class="cscc">
            <ion-card-title><b>Philippine Orphanage Foundation</b></ion-card-title>
            <ion-card-content>
              The Philippines Orphanage Foundation is a faith-based ministry started
              with the hope of rescuing and transforming the lives of Filipino orphans.
            </ion-card-content>

            <div class="know">
            <ion-button class="know" color="dark" href="https://www.facebook.com/POFINC">
              Know more about POF
            </ion-button>
            </div>

            <ion-card-content>
              For any concerns and questions contact us: <br>    
              <ion-chip outline color="dark">
                <ion-icon name="call"></ion-icon>
                <ion-label>+1 843-694-7701 </ion-label>
              </ion-chip>
              <ion-chip outline color="dark">
                <ion-icon name="mail"></ion-icon>
                <ion-label>philippineorphanagefoundation@gmail.com</ion-label>
              </ion-chip><br><br>

              Want to Donate? Fill this form.<br>
              <div class="know">
              <ion-button class="know" color="dark" href="https://docs.google.com/forms/d/e/1FAIpQLSdh6UzbBkKjf1QGW-VJ0GyW9vKcdX84Jn0YUqE0Yc8EoQ_qog/viewform?usp=sf_link">
                Donation Form
              </ion-button>
              </div>
            </ion-card-content>
          </ion-card>

          <br><br>

          <ion-card>
            <img src="assets/tp1.jpg" class="cscc">
            <ion-card-title><b>Tahanan ng Pagmamahal Children's Home, Inc.</b></ion-card-title>
            <ion-card-content>
              Tahanan ng Pagmamahal Children's Home, Inc. was founded by Mr. Reylindo and 
              Mrs. Myrna Ortega on December 2006. It is a non-government organization working 
              for abandoned, neglected, foundling and surrendered children.
            </ion-card-content>

            <div class="know">
            <ion-button class="know" color="dark" href="https://www.facebook.com/tahananpch/">
              Know more about TPCH
            </ion-button>
            </div>

            <ion-card-content>
              For any concerns and questions contact us: <br>    
              <ion-chip outline color="dark">
                <ion-icon name="call"></ion-icon>
                <ion-label>0917 525 7188 </ion-label>
              </ion-chip>
              <ion-chip outline color="dark">
                <ion-icon name="mail"></ion-icon>
                <ion-label>tahananngpagmamahal.ch@gmail.com</ion-label>
              </ion-chip><br><br>

              Want to Donate? Fill this form.<br>
              <div class="know">
              <ion-button class="know" color="dark" href="https://docs.google.com/forms/d/e/1FAIpQLSdOpj2cQwxy8GKKKBUrG3DSB_mNwnrCqMR17Hr2cEC511WqcQ/viewform?usp=sf_link">
                Donation Form
              </ion-button>
              </div>
            </ion-card-content>
          </ion-card>

          <br><br>

          <ion-card>
            <img src="assets/agape1.png" class="cscc">
            <ion-card-title><b>AGAPE Selfless Unconditional Love Inc.</b></ion-card-title>
            <ion-card-content>
              AGAPE Selfless Unconditional Love Inc. is a non-government organization 
              whose goal is to reach out to the abandoned and marginalized kids in different 
              shelters in the Philippines. We facilitate outreach programs and fund-raising 
              projects to support their educational and daily needs. We want to inspire people 
              through our service, build a culture of collaboration, and continue showing our 
              love to our brothers and sisters by giving our time, treasure, and talent.
            </ion-card-content>

            <div class="know">
            <ion-button class="know" color="dark" href="https://agapecharityevents.org/">
              Know more about AGAPE
            </ion-button>
            </div>

            <ion-card-content>
              For any concerns and questions contact us: <br>    
              <ion-chip outline color="dark">
                <ion-icon name="call"></ion-icon>
                <ion-label>+63-919-094-2557</ion-label>
              </ion-chip>
              <ion-chip outline color="dark">
                <ion-icon name="mail"></ion-icon>
                <ion-label>agapeselflessunconditionallove@gmail.com</ion-label>
              </ion-chip><br><br>

              Want to Donate? Fill this form.<br>
              <div class="know">
              <ion-button class="know" color="dark" href="https://docs.google.com/forms/d/e/1FAIpQLSfMxmUVrfYJaHz3pGL5Qm-V292ZGMP5khxOI8C732BI-SJJKg/viewform?usp=sf_link">
                Donation Form
              </ion-button>
              </div>
            </ion-card-content>
          </ion-card>

          <br><br>

          <ion-card>
            <img src="assets/bt1.png" class="cscc">
            <ion-card-title><b>Bahay Tuluyan</b></ion-card-title>
            <ion-card-content>
              Bahay Tuluyan is a non government organization that 
              provides a variety of programs and services aimed at 
              preventing and responding to abuse and exploitation of 
              children in the Philippines. We work in Manila, Laguna and 
              Quezon, delivering social services and programs on the street and in communities.
            </ion-card-content>

            <div class="know">
            <ion-button class="know" color="dark" href="http://bahaytuluyan.org/">
              Know more about BT
            </ion-button>
            </div>

            <ion-card-content>
              For any concerns and questions contact us: <br>    
              <ion-chip outline color="dark">
                <ion-icon name="call"></ion-icon>
                <ion-label>0917 710 9780</ion-label>
              </ion-chip>
              <ion-chip outline color="dark">
                <ion-icon name="mail"></ion-icon>
                <ion-label>bahaytuluyan4@gmail.com</ion-label>
              </ion-chip><br><br>

              Want to Donate? Fill this form.<br>
              <div class="know">
              <ion-button class="know" color="dark" href="https://docs.google.com/forms/d/e/1FAIpQLSfvEmIcUNqwkkJPWOIvKWnM4w50b6zqthR7SiNGD1T-DpZf3Q/viewform?usp=sf_link">
                Donation Form
              </ion-button>
              </div>
            </ion-card-content>
          </ion-card>

          <br><br>
          <ion-card-title>In all things I have shown you that by working hard in this way we must help the weak and remember the words of the Lord Jesus, how he himself said, 'It is more blessed to give than to receive.' <br><b>-Acts 20:35</b></ion-card-title>
          <br>

    <ion-item lines="full">
      <ion-label></ion-label>
    </ion-item>

    <ion-footer class="ion-no-border">
      <ion-toolbar>
        <div class="bottom">
        <ion-grid fixed="true">
        <ion-row>
          <ion-col class="ion-align-self-start"><br>
            <b><ion-text>GiveGoods</ion-text></b><br>
            2022 © GiveGoods<br>
            All rights reserved.
          </ion-col>
          <ion-col class="ion-align-self-center">
            <ion-button class="bottom" color="dark" fill="clear"  href="home">
              Home
            </ion-button><br>
            <ion-button class="bottom" color="dark" fill="clear"  href="donate">
              Donate
           </ion-button><br>
           <ion-button class="bottom" color="dark" fill="clear"  href="aboutus">
              About Us
          </ion-button><br>
          <ion-button class="bottom" color="dark" fill="clear"  href="contactus">
              Contact Us
          </ion-button>
          </ion-col>
          <ion-col class="ion-align-self-end">
            <ion-button class="bottom" color="dark" fill="clear"  href="https://www.facebook.com/">
              Facebook
            </ion-button><br>
            <ion-button class="bottom" color="dark" fill="clear"  href="https://www.instagram.com/">
              Instagram
           </ion-button><br>
           <ion-button class="bottom" color="dark" fill="clear"  href="https://www.twitter.com/">
              Twitter
          </ion-button><br>
          <ion-button class="bottom" color="dark" fill="clear"  href="https://www.gmail.com/">
              Gmail
          </ion-button>
          </ion-col>
        </ion-row>
        </ion-grid>
      </div>
    </ion-toolbar>
  </ion-footer>

  <br><br>
  </ion-content>
</ion-app>