<ion-app>
  <ion-content passing class="background">
      <ion-toolbar>
          <img src="assets/givegoods.png" width="140px">
        <ion-buttons slot="end">
            <ion-button color="warning" fill="outline" shape="round" href="home">
              <ion-icon name="home-outline"></ion-icon>
               Home
            </ion-button>

            <ion-button color="warning" fill="outline" shape="round" href="donate">
              <ion-icon name="gift-outline"></ion-icon>
              Donate
            </ion-button>

            <ion-button color="warning" fill="outline" shape="round" href="aboutus">
              <ion-icon name="heart-circle-outline"></ion-icon>
              About Us
            </ion-button>

            <ion-button color="warning" fill="outline" shape="round" href="contactus">
              <ion-icon name="call-outline"></ion-icon>
              Contact Us
            </ion-button>
        </ion-buttons>
      </ion-toolbar>


    <ion-card>
      <ion-card-header>
        <img src="assets/gg.png" width="1000px">
      </ion-card-header>
    </ion-card>

    <br><br><br>

      <ion-grid> 
        <ion-row>
          <ion-col>
            <ion-avatar>
              <img src="assets/mother.png">
            </ion-avatar>
            <ion-card-header>
              "It's not how much we give but how much love we put into giving"<br> <b>-Mother Teresa</b>
            </ion-card-header>
          </ion-col>
          <ion-col>
            <ion-avatar>
              <img src="assets/bankimoon.png">
            </ion-avatar>
            <ion-card-header>
              "Charity plays an important role in upholding the values and advancing the work of the United Nations"<br> <b>-Ban Ki Moon</b>
            </ion-card-header>
          </ion-col>
          <ion-col>
            <ion-avatar>
              <img src="assets/oprah.png">
            </ion-avatar>
            <ion-card-header>
              "Helping people by charity is the most human thing we can do"<br> <b>-Oprah Winfrey</b>
            </ion-card-header>
          </ion-col>
          <ion-col>
            <ion-avatar>
              <img src="assets/conrad.png">
            </ion-avatar>
            <ion-card-header>
              "Charity is a supreme virtue, and the great channel through which the mercy of God is passed onto mankind"<br> <b>-Conrad Hilton</b>
            </ion-card-header>
          </ion-col>
        </ion-row>
      </ion-grid>

    <br><br><br>

    <div class="charity">Charity Gallery</div>

      <ion-row>
        <ion-slides>
          <ion-slide>
              <img src="assets/e.png">
          </ion-slide>
          <ion-slide>
              <img src="assets/b.png">
          </ion-slide>
          <ion-slide>
              <img src="assets/d.png">
          </ion-slide>
          <ion-slide>
              <img src="assets/f.png">
          </ion-slide>
          <ion-slide>
              <img src="assets/a.png">
          </ion-slide>
          <ion-slide>
              <img src="assets/i.png">
          </ion-slide>
          <ion-slide>
              <img src="assets/k.jpg">
          </ion-slide>
          <ion-slide>
              <img src="assets/l.png">
          </ion-slide>
          <ion-slide>
              <img src="assets/m.png">
          </ion-slide>
          <ion-slide>
              <img src="assets/n.png">
          </ion-slide>
          <ion-slide>
              <img src="assets/o.png">
          </ion-slide>
          <ion-slide>
              <img src="assets/p.png">
          </ion-slide>
          <ion-slide>
              <img src="assets/q.png">
          </ion-slide>
          <ion-slide>
              <img src="assets/r.png">
          </ion-slide>
          </ion-slides>
      </ion-row>

      <ion-item lines="full">
        <ion-label></ion-label>
      </ion-item>


      <ion-footer class="ion-no-border" >
        <ion-toolbar>
          <div class="bottom">
          <ion-grid fixed="true">
          <ion-row>
            <ion-col class="ion-align-self-start"><br>
              <b><ion-text>GiveGoods</ion-text></b><br>
              2022 © GiveGoods<br>
              All rights reserved.
            </ion-col>
            <ion-col class="ion-align-self-center">
              <ion-button class="bottom" color="dark" fill="clear"  href="home">
                Home
              </ion-button><br>
              <ion-button class="bottom" color="dark" fill="clear"  href="donate">
                Donate
             </ion-button><br>
             <ion-button class="bottom" color="dark" fill="clear"  href="aboutus">
                About Us
            </ion-button><br>
            <ion-button class="bottom" color="dark" fill="clear"  href="contactus">
                Contact Us
            </ion-button>
            </ion-col>
            <ion-col class="ion-align-self-end">
              <ion-button class="bottom" color="dark" fill="clear"  href="https://www.facebook.com/">
                Facebook
              </ion-button><br>
              <ion-button class="bottom" color="dark" fill="clear"  href="https://www.instagram.com/">
                Instagram
             </ion-button><br>
             <ion-button class="bottom" color="dark" fill="clear"  href="https://www.twitter.com/">
                Twitter
            </ion-button><br>
            <ion-button class="bottom" color="dark" fill="clear"  href="https://www.gmail.com/">
                Gmail
            </ion-button>
            </ion-col>
          </ion-row>
          </ion-grid>
        </div>
      </ion-toolbar>
    </ion-footer>
          

  <br><br>
  </ion-content>
</ion-app>
